html, body {
    height: 100%;
    background-color: #111;
    margin: 0;
    font-family: "Courier New";
}

html {
    -webkit-app-region: drag;
}

.headerBar {
    display: grid;
    grid-template-columns: 8% 93%;
    border-bottom: solid azure;
    background-color: royalblue;
}

button {
    border: none;
    font-size: 1vw;
    background-color: dodgerblue;
    font-weight: bold;
    font-family: "Courier New";
    color: azure;
    cursor: pointer;
    padding: 0.4vw;
    outline: none;
}

#leftButton {
    font-size: 28px;
    align-self: center;
    grid-area: 'back';
}

#rightButton {
    font-size: 2vw;
    align-self: center;
    grid-area: 'back';
}

button a {
    text-decoration: none;
    color: azure;
}

button:hover {
    background-color: deepskyblue;
}

button.active {
    background-color: #ccc;
}

.header {
    font-size: 48px;
    font-weight: bold;
    font-family: "Courier New";
    color: azure;
    margin: 0;
    grid-area: 'header';
    align-self: center;
    justify-self: center;
}

.TableEditor{
    display: flex;
    height: 90%;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Table {
    display: grid;
    grid-template-rows: auto;
    width: fit-content;
    object-fit: contain;
}

.EditorButtons{
    margin: 1vw
}

.EditorButtons button {
    border: none;
    font-size: 1.4vw;
    background-color: orangered;
    font-weight: bold;
    font-family: "Courier New";
    color: azure;
    cursor: pointer;
    padding: 0.4vw;
    outline: none;
}

.tableHeaders, .tableRows {
    display: grid;
    grid-template-columns: 4.5vw 10vw 35vw 7vw 9vw 16vw 6vw 8vw 2vw;
}

.tableHeaders input {
    font-weight: bolder;
    font-size: 1.6vw;
    background-color: orangered;
    outline: none;
    border: red solid 0.1vw;
    padding: 0.2vw;
}

.tableHeaders button {
    border: red solid 0.1vw;
    background-color: orangered;
    color: azure;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.tableHeaders button:hover {
    opacity: 1;
}

.tableRows input {
    font-size: 1.2vw;
    background-color: orange;
    outline: none;
    border: orangered solid 0.1vw;
    padding: 0.2vw;
    max-height: 2vw;
}

.tableRows button {
    border: orangered solid 0.1vw;
    background-color: orangered;
    max-height: 2vw;
    color: azure;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.tableRows button:hover {
    opacity: 1;
}